<form>
  <h3>Create Poll</h3>

  <div class="form-group">
    <label for="tbPollName">Poll Name</label>
    <input type="text" name="tbPollName" data-dtype="String" />
  </div>
  <div class="form-group">
    <label for="tbOptions">Options</label>
    <textarea
      type="text"
      name="tbOptions"
      data-dtype="String"
      rows="8"
    ></textarea>
  </div>
  <hr />
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="fa fa-check"></i> Create Poll
    </button>
  </footer>
</form>
